{% extends "Front/base.html.twig" %}
{% block header %}
{{ parent() }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <!-- banner start -->
    <!-- ================ -->
    <div class="banner">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-banner-container">
                <div class="slider-banner">
                    <ul>
                        <!-- slide 1 start -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Premium HTML5 template">

                            <!-- main image -->
                            <img src="{{ theme }}images/slider-1-slide-1.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption default_bg large sfr tp-resizeme"
                                 data-x="0"
                                 data-y="70"
                                 data-speed="600"
                                 data-start="1200"

                                 data-endspeed="600">SpeedUp Framework
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                                 data-x="0"
                                 data-y="170"
                                 data-speed="600"
                                 data-start="1600"

                                 data-endspeed="600"><i class="icon-check"></i>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                                 data-x="50"
                                 data-y="170"
                                 data-speed="600"
                                 data-start="1600"

                                 data-endspeed="600">Léger
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                                 data-x="0"
                                 data-y="220"
                                 data-speed="600"
                                 data-start="1800"

                                 data-endspeed="600"><i class="icon-check"></i>
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                                 data-x="50"
                                 data-y="220"
                                 data-speed="600"
                                 data-start="1800"

                                 data-endspeed="600">Puissant
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                                 data-x="0"
                                 data-y="270"
                                 data-speed="600"
                                 data-start="2000"

                                 data-endspeed="600"><i class="icon-check"></i>
                            </div>

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                                 data-x="50"
                                 data-y="270"
                                 data-speed="600"
                                 data-start="2000"

                                 data-endspeed="600">Facilement configurable
                            </div>

                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                                 data-x="0"
                                 data-y="320"
                                 data-speed="600"
                                 data-start="2200"

                                 data-endspeed="600"><i class="icon-check"></i>
                            </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                                 data-x="50"
                                 data-y="320"
                                 data-speed="600"
                                 data-start="2200"

                                 data-endspeed="600">Rapide comme l'éclair
                            </div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                                 data-x="0"
                                 data-y="370"
                                 data-speed="600"
                                 data-start="2400"

                                 data-endspeed="600">Et bien plus...
                            </div>

                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption sfr tp-resizeme"
                                 data-x="right"
                                 data-y="center"
                                 data-speed="600"
                                 data-start="2700"

                                 data-endspeed="600"><img src="{{ theme }}images/eclair.jpg" alt="">
                            </div>

                        </li>
                        <!-- slide 1 end -->

                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>
            <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->

    <!-- page-top start-->
    <!-- ================ -->
    <div class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="call-to-action">
                        <h1 class="title">Puissant et léger</h1>
                        <p>Rapide comme l'éclair, SpeedUp est un micro framework pour construire des applications web de façon rapide et efficace </p>
                        <a href="page-contact.html" class="btn btn-default contact">Telecharger <i class="pl-10 fa fa-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-top end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container gray-bg">

        <!-- main start -->
        <!-- ================ -->
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                         <div class="row">
                            <div class="col-sm-4">
                                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                    <i class="fa fa-leaf"></i>
                                    <h2>Système de templates</h2>
                                    <p>Grace au dossier template, vous pourrez importer vos css et js en toute tranquilitée. </p>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                                    <i class="fa fa-laptop"></i>
                                    <h2>Support gratuit</h2>
                                    <p>Chaque problèmes à sa solution, vous pouvez vous rendre sur le forum afin d'avoir de l'aide.</p>
                                    <a href="page-services.html" class="btn-default btn">Accéder au forum</a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                    <i class="fa fa-sitemap"></i>
                                    <h2>Configuration minimale</h2>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                    <i class="fa fa-terminal"></i>
                                    <h2>Moteur de template twig</h2>
                                    <p>Speedup utilise le moteur de template TWIG afin de vous permettre de gagner en rapidité lors de vos developpements</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                    <i class="fa fa-database"></i>
                                    <h2>ORM Laravel</h2>
                                    <p>Nous avons implémenter l'orm de laravel afin de gagner du temps lorsque vous developpez vos "models"</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                    <i class="fa fa-blind"></i>
                                    <h2>Services</h2>
                                    <p>Des addons appellés ici services sont des class php qui vont vous aider dans vos developpement, comme par exemple notre class de session</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                    <i class="fa fa-book"></i>
                                    <h2>Documentation</h2>
                                    <p>Speedup est documenté de façon concise est claire</p>
                                    <a href="page-services.html" class="btn-default btn">Accéder au forum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main end -->

    </section>
    <!-- main-container end -->



    <!-- section start -->
    <!-- ================ -->
    <div class="section gray-bg clearfix">
        <div class="owl-carousel content-slider">
            <div class="testimonial">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Just Perfect!</h2>
                            <div class="testimonial-image">
                                <img src="{{ theme }}images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                            </div>
                            <div class="testimonial-body">
                                <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium,  totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                                <div class="testimonial-info-1">- Jane Doe</div>
                                <div class="testimonial-info-2">By Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Wow amazing!</h2>
                            <div class="testimonial-image">
                                <img src="{{ theme }}images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                            </div>
                            <div class="testimonial-body">
                                <p>Turpis arcu rutrum nunc, ac laoreet turpis augue a justo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, esse, animi maxime voluptate tempore at sunt labore incidunt nulla dignissimos iusto ad similique inventore distinctio quam repellendus itaque minus minima.</p>
                                <div class="testimonial-info-1">- John Doe</div>
                                <div class="testimonial-info-2">By Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Thanks!</h2>
                            <div class="testimonial-image">
                                <img src="{{ theme }}images/testimonial-3.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                            </div>
                            <div class="testimonial-body">
                                <p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform fully tested expertise with competitive technologies ac laoreet turpis augue a justo.</p>
                                <div class="testimonial-info-1">- John Doe</div>
                                <div class="testimonial-info-2">By Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->


    <!-- footer start (Add "light" class to #footer in order to enable light footer) -->
    <!-- ================ -->
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}