{% extends "Front/base.html.twig" %}
{% block header %}
    {{ parent() }}

{% endblock %}

{% block title %}Administration{% endblock %}

{% block content %}
    <div class="policeDoc">


        <section class="main-container">

            <div class="container">
                <div class="row">
                    {% for k, v in message %}
                        <div class="alert alert-{{ k }}">{{ v }}</div>
                    {% endfor %}

                    <!-- sidebar start -->
                    <aside class="col-md-3">


                        <div class="sidebar">
                            <div class="block clearfix">
                                <h3 class="title">Administration</h3>
                                <div class="separator separator-fullwidth"></div>
                                <nav>

                                    <ul class="nav nav-pills nav-stacked">

                                        <li><a href="{{ site }}Admin">Accueil</a></li>

                                    </ul>

                                </nav>
                            </div>
                        </div>

                    </aside>
                    <!-- sidebar end -->

                    <!-- main start -->
                    <!-- ================ -->
                    <div class="main col-md-8 col-md-offset-1">
<h1>Liste des catégories dans la documentation</h1>
                        <a href="#"  data-toggle="modal" data-target="#myModal" class="btn btn-success" style="margin-left: 1em"><i class="fa fa-plus"></i></a>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Ajouter une catégorie</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" id="titleNewCateg">
                                        </div>
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-sm btn-default" id="newCateg" data-dismiss="modal">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" id="rowtable">
                            <table class="table" id="tableContent">
                                <thead>
                                <tr>

                                    <th>Id</th>
                                    <th>Désignation</th>
                                    <th>Actions</th>

                                </tr>
                                </thead>
                                <tbody>
    {% for categ in categs %}
                                <tr>
                                    <td>{{ categ.id_categ_doc }}</td>
                                    <td>{{ categ.titre_categ }}</td>
                                    <td><a href="#" data-id="{{ categ.id_categ_doc }}" class="deleteCateg btn btn-success" style="margin-left: 1em"><i class="fa fa-trash"></i></a></td>

                                </tr>
    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <!-- main end -->
                </div>
            </div>
        </section>
    </div>
    <!-- fin Content -->

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
        $(function () {
            "use strict";

            $('#newCateg').click(function (e) {
                e.preventDefault();
                var title = $("#titleNewCateg").val();
                $.ajax({

                    type: "POST",
                    url: "{{ site }}Ajax",
                    dataType: "json",
                    data: {
                        'command': 'Addnew',
                        'title': title

                    },
                    success: function(result){

                        $.each( result, function( key, value ) {
                            if(key == "error"){
                                toastr.error(value);
                            } else {
                                if(key =="success")
                                {
                                    $("#rowtable").load(location.href + " #tableContent");
                                    toastr.success(value);
                                }
                            }



                        });

                    }
                });
            });
            $('.deleteCateg').click(function (e) {
                e.preventDefault();

                var id = $(".deleteCateg").attr("data-id");
                $.ajax({

                    type: "POST",
                    url: "{{ site }}Ajax",
                    dataType: "json",
                    data: {
                        'command': 'delete',
                        'id': id

                    },
                    success: function(result){

                        $.each( result, function( key, value ) {
                            if(key == "error"){
                                toastr.error(value);
                            } else {
                                if(key =="success")
                                {
                                    $("#rowtable").load(location.href + " #tableContent");
                                    toastr.success(value);
                                }
                            }



                        });

                    }
                });
            });

        });


    </script>
{% endblock %}